#demo {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 3rem;
  /* padding-top: 23rem; */
  border: 5px solid blue;
  /* margin-top: rem; */
  width: 800px;
  text-align: center;
  margin-left: 20rem;
  display: inline-block;

  color: white;
}

#footer1 {
  background-color: grey;
}
